*{
    --first:#101070;
    --second:#eeeeff;
    --third:#202080;
    --content:rgba(255,255,255,0.8);
    --realist:rgba(255,0,0,0.5);
    --invest:rgba(255,255,0,0.5);
    --artist:rgba(0,255,0,0.5);
    --social:rgba(0,255,255,0.5);
    --enterpr:rgba(0,0,255,0.5);
    --convent:rgba(255,0,255,0.5);
    --attenuate:rgba(255,255,255,0.5);
}
.realistic{
    background-color: var(--realist);
}
.investigative{
    background-color: var(--invest);
}
.artistic{
    background-color: var(--artist);
}
.social{
    background-color: var(--social);
}
.enterprising{
    background-color: var(--enterpr);
}
.conventional{
    background-color: var(--convent);
}

.test-input{
    width: 100%;
    height: 100%;
}

td{
    
    border: 1px solid;
}
.type{
    display: flex;
    flex-direction: column;
    padding: 5px;
    table{
        background-color: var(--attenuate);
    }
}
.head-class{
    text-align: center;
    color: var(--first);
}

@media (max-width:900px) {
    .desc-class{
        text-align: center;
    }
}