*{
    text-align: initial;
}
.header,.footer{
    display: flex;
    justify-content: space-evenly;
    
    a, a:hover , a:visited,a:active{
        display: flex;
        align-items: center;
        text-align: center;
        height: 100%;
        width: 100%;
        text-decoration: none;
        color: inherit;
    }
    
    div.link{
        width: 100%;
        height: 100%;
    }
    a{
        justify-content: center;
    }
}


a:hover{
    text-shadow: 0px 0px white;
}
.header{
    color: #fff;
    background-color: var(--first);
    a{
        font-weight: bold;
    }
    a:hover{
        background-color:var(--third);
    }
    >div{
        flex: 2 0;
        display: flex;
        justify-content: space-evenly;
        align-content: center;
        align-items: center;
    }
}

.footer{
    font-style: italic;
    background-color:var(--second);
    color:grey;
    flex-direction: column;
    text-align: center;
    align-items: center;
    text-shadow: 0px 0px 1px;
    padding: 0 10px 10px;
    a:hover{
        font-weight: initial;
    }
    div{
        /*width: 100%;*/
        max-width: 500px;
    }
    .contact{
        display: flex;
        justify-content: space-evenly;

        a{
            padding: 0px 5px;
        }
    }    
}

.main{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding: 10px 0px;
    /*color: #fff;*/
    background-color: var(--second);
    overflow:scroll;
}

.auth-container{
    height: max-content;
    border-radius: 15px;
}

.content{
    background-color: var(--content);
    padding: 40px 40px;
    justify-content: center;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.other{
    width: 800px;
    flex-grow: 1;
}
.content>div{
    width: 100%;
}

@media (max-width:900px) {
    .content{
        width: 100%;
    }
}
body{
    background-color: var(--second);
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-items: center;
}

h2 {
    font-size: 2em;
    color: #333;
}

input {
    width: 80%;
    padding: 10px;
    margin: 15px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
}

button {
    padding: 10px 20px;
    background-color: #007aff;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 1em;
    cursor: pointer;
}

button:hover {
    background-color: #005bb5;
}